.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  height: 102px;
  background-color: #000000f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 362px;
}

.header-list {
  font-weight: 400;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  gap: 54px;
}

.header-list li a {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  font-family: Exo;
}

.header-img img {
  width: 85px;
  height: 84px;
}

.header-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 214px;
  height: 44px;
  padding: 11.58px 34px 12.42px 34px;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  border-radius: 30px 15px;
  background: linear-gradient(106deg, #ff8602 28%, #f2e113 95%);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.header-buy a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-family: Exo;
}

main {
  background: linear-gradient(252deg, #f9dd0a 1.85%, #ff8602 54.67%);
}

.main-left {
  width: 60%;
  margin-top: 70px;
}

.wrap {
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  padding: 100px 0;
  gap: 70px;
}

.wrap-about {
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Joti One;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.main-decs {
  color: #fff;
  font-family: Exo;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}

.main-right {
  width: 40%;
}

.main-right img {
  width: 618px;
  height: 618px;
}

.main-contract {
  color: #fff;
  font-family: Exo;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  /* 125% */
  margin-top: 20px;
  font-family: Exo;
}

.main-contract span {
  color: #fff;
  font-family: Exo;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}

.main-social {
  margin-top: 35px;
}

.social-1 {
  margin-bottom: 20px;
}

.social-1,
.social-2 {
  display: flex;
  gap: 30px;
}

.button-social {
  border-radius: 30px 15px;
  border: 3px solid #ffa300;
  background: #3a3a3a;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 14.11px 26.638px 14.89px 29.5px;
}

.button-social a img {
  width: 21px;
  height: 21px;
  margin-right: 30px;
}

.button-social a {
  width: 183px;
  color: #fff;
  text-align: center;
  font-family: Exo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  display: flex;
  align-items: center;
}

.about {
  background: linear-gradient(180deg, #13161c 0%, #14171d 100%);
  position: relative;
}

.about-dex {
  padding: 27px 80px 0 80px;
  position: absolute;
  width: 1120px;
  top: -40px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border-radius: 14px;
  background: #13161c;
}

.dex-img a img {
  width: 116px;
  height: 116px;
}

.about-heading {
  margin-top: 220px;
  width: 435.12px;
  color: #fff;
  text-align: center;
  font-family: Exo;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  /* 153.333% */
}

.about-desc {
  margin-top: 26px;
  width: 640px;
  color: #fff;
  text-align: center;
  font-family: Exo;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  /* 166.667% */
}

.about-utility {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.utility-box {
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: #1c2029;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.utility-box img {
  width: 74px;
  height: 74px;
  margin-bottom: 17px;
}

.utility-title {
  background: linear-gradient(180deg,
      rgb(255, 255, 255) 0%,
      rgb(255, 135, 2) 25%,
      rgb(255, 135, 2) 50%,
      rgb(254, 220, 1) 75%,
      rgb(254, 220, 1) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Exo", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
  margin-bottom: 10px;
}

.utility-des {
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #7a7a7a;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27.9px;
}

.button-style {
  border-radius: 30px 15px;
  background: linear-gradient(106deg, #ff8602 28%, #f2e113 95%);
  padding: 11.58px 58px 12.42px 58px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.button-style a {
  color: #fff;
  text-align: center;
  font-family: Exo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
}

.about-button {
  margin-top: 60px;
  display: flex;
  gap: 20px;
  margin-bottom: 75px;
}

.tokenomics {
  display: flex;
  flex-direction: column;
}

.tokenomics-mobile {
  background: url("./assets/6c0e88edbbe32199d3a9f396ea20acc0.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.tokenomics-mobile img {
  width: 500px;
  height: 500px;
  margin: 100px 0;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 6s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.tokenomics-mobile h1 {
  background: linear-gradient(45deg,
      #fff 0%,
      #ff8702 25%,
      #ff8702 50%,
      #fedc01 75%,
      #fedc01 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: Exo;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  /* 125% */
}

footer {
  background: #0e1013;
  padding: 50px 0;
}

div.footer {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
}

.left-logo {
  width: 150px;
  height: 150px;
  margin-bottom: 25px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0px;
}

.footer .social {
  display: flex;
  gap: 18.83px;
}

.img-social {
  width: 23px;
  height: 23px;
}

.footer-mid {
  padding: 55px 10px;
  border-right: 1px solid #ffa300;
}

.footer-mid h2 {
  font-family: Exo;
  margin-bottom: 16px;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 13px;
  /* 100% */
  background: linear-gradient(45deg,
      #fff 0%,
      #ff8702 25%,
      #ff8702 50%,
      #fee002 75%,
      #fee002 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-mid p {
  color: #7a7a7a;
  font-family: Exo;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 13px;
  /* 100% */
}

.footer-left {
  width: 30%;
}

.footer-mid {
  width: 50%;
}

.footer-right {
  width: 20%;
  margin-left: 50px;
}

.footer-button {
  border-radius: 30px 15px;
  border: 1px solid #ffa300;
  background: #3a3a3a;
  text-align: center;
  padding: 8px 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 8px;
}

.footer-button a {
  color: #fff;
  text-align: center;
  font-family: Exo;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 153.846% */
}

@media only screen and (max-width: 600px) {
  header {
    padding: 0;
    flex-direction: column;
    height: auto;
  }

  .header-buy {
    margin: 20px 0;
  }

  .header-list {
    margin-top: 20px;
  }

  .wrap {
    flex-direction: column-reverse;
    padding: 0;
    align-items: center;
  }

  .main-right {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .main-right img {
    width: 350px;
    height: 350px;
  }

  .main-left {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .main-heading {
    font-size: 60px;
  }

  .about-dex {
    display: none;
  }

  .main-social {
    margin-bottom: 20px;
    margin-left: 40px;
  }

  .about-heading {
    margin-top: 20px;
  }

  .button-social a {
    width: auto;
  }

  .about-desc {
    width: auto;
  }

  .about-utility {
    flex-direction: column;
  }

  .tokenomics {
    display: none;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-mid,
  .footer-left,
  .footer-right {
    width: 100%;
  }

  .footer-right {
    margin: 0;
    margin-top: 20px;
  }

  .footer-button {
    display: inline-block;
  }

  .footer-left {
    display: none;
  }

  .footer-mid {
    padding: 10px;
  }

  .footer-mid h2 {
    font-size: 20px;
    text-align: center;
    line-height: 20px;
  }

  .about-heading {
    width: auto;
  }

  .box-button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .about-button {
    margin: 30px 0;
  }

  .button-style a {
    font-size: 14px;
    font-family: Exo;
  }

  .button-style {
    padding: 10px 20px;
  }

  .tokenomics-mobile {
    background-size: cover;
    padding-top: 10px;
  }

  .tokenomics-mobile img {
    width: 280px;
    height: 280px;
    margin: 50px 0;
  }

  .social-1,
  .social-2 {
    gap: 30px;
  }

  .main-contract {
    display: block;
    font-size: 17px;
  }

  .footer-mid {
    border-style: none;
  }

  .main-decs {
    font-size: 16px;
  }

  footer {
    padding: 10px 0;
  }

  .button-social {
    width: 160px;
    padding: 10px 0px 10px 10px;
  }

  .button-social a img {
    margin-right: 10px;
  }
}

.App-link {
  color: #61dafb;
}

.spanClass {
  color: #fff;
  font-family: Exo;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  /* 125% */
}

.h2Class{
  color: #fff;
  text-align: center;
  font-family: Exo;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 200% */
  text-transform: uppercase;
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}